<!DOCTYPE html>
<html>
  <head>
    <title>Afiliados | Sindimaestros</title>
    
    <% include ./partials/head.ejs %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">
      <% include ./partials/nav-header.ejs %>

      <% include ./partials/left-column.ejs %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>Gestionar Afiliados</h1>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
              <div class="contains">
                <span class="btn bg-green" id="add-object"> <i class="fa fa-plus-circle fa-5x pull-left" href="#"></i> Agregar Afiliado </span>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-5">
              <div class="contains">
                <span class="list-objects btn btn-primary"><i class="fa fa-reorder fa-5x pull-left"></i> Listar Afiliados </span>
              </div>
            </div>
          </div>

          <!-- Alertas -->
          <% if (message.length > 0) { %>
            <div class="alert alert-danger" style="margin-top: 10px;"><%= message %></div>
          <% } %>

          <div class="box-body">

            <!-- Tabla -->
            <div class="table-objects fresh-table">
              <div class="toolbar">
                <!--button id="alertBtn" class="btn btn-default">Botón de Alerta</button-->
              </div>

              <table id="fresh-table" class="table">
                <thead>
                  <th data-field="identityCard">Documento de identidad </th>
                  <th data-field="fullName">Nombre </th>
                  <th data-field="email">Email </th>
                  <th data-field="state">Estado </th>
                  <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Acciones </th>
                </thead>
                <tbody>
                  <% if (objectJoined != undefined) { %>
                  <% objectJoined.forEach(function(objJoi) { %>
                  <tr class="<%= objJoi._id %>" style="text-align:center;">
                    <td><%= objJoi.identityCard %></td>
                    <td><%= objJoi.fullName %></td>
                    <td><%= objJoi.email %></td>
                    <% if (objJoi.state === "Activo") { %>
                      <td><i class="fa fa-circle text-success"></i>  <%= objJoi.state %></td>
                    <% } else { %>
                      <td><i class="fa fa-circle text-danger"></i>  <%= objJoi.state %></td>
                    <% } %>
                  </tr>
                  <% }); %>
                  <% } else { %>
                  <td colspan="" rowspan="" headers="">Para crear un usuario, dé click en el boton <span class="fa fa-plus-circle"></span></td>
                  <% } %>
                </tbody>
              </table>
            </div>

            <!-- Formulario agregar -->
            <form id="form-add" style="display: none;" action="new-joined" method="POST">
              <div>
                <label for=""><h2>Ingrese el nuevo afiliado</h2></label>
              </div>

              <section class="col-md-6 ">
                <div class="form-group" id="identityCard">
                  <label for="bio">Documento de identidad:</label><br>
                  <input class="form-control" type="text" name="identityCard" required>
                </div>

                <div class="form-group" id="fullName">
                  <label for="bio">Nombre:</label><br>
                  <input class="form-control" type="text" name="fullName" required>
                </div>

                <div class="form-group" id="birthdate">
                  <label for="bio">Fecha de nacimiento:</label><br>
                  <input class="form-control" type="date" name="birthdate">
                </div>

                <div class="form-group" id="address">
                  <label for="bio">Dirección casa:</label><br>
                  <input class="form-control" type="text" name="address" required>
                </div>

                <div class="form-group" id="email">
                  <label for="bio">Email:</label><br>
                  <input id="Email" class="form-control" type="email" name="email" placeholder="usuario@ejemplo.com" required>
                  <p class="bg-warning" style="display: none;" id="msgEmail">Este correo ya se encuentra en uso por favor cambiarlo</p>
                </div>

                <div class="form-group">
                  <label for="bio">RH:</label><br>
                  <select class="form-control" type="brand" name="rh">
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Género:</label><br>
                  <select class="form-control" type="brand" name="gender">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Municipio:</label><br>
                  <select class="form-control" type="brand" id="municipality_list" name="municipality">
                  <!--json-->
                  </select>
                </div>

                <div class="form-group" id="cellPhoneNumber">
                  <label for="bio">Número celular:</label><br>
                  <input class="form-control" type="text" name="cellPhoneNumber" required>
                </div>

                <div class="form-group" id="educationalInstitution">
                  <label for="bio">Institución Educativa:</label><br>
                  <input class="form-control" type="text" name="educationalInstitution" required>
                </div>

                <div class="form-group">
                  <label for="bio">Área de desempeño:</label><br>
                  <select class="form-control" type="brand" name="areaPerformance">
                    <option value="Primaria">Primaria</option>
                    <option value="Bachillerato">Bachillerato</option>
                    <option value="DirectivoDocente">Directivo Docente</option>
                    <option value="Provisional">Provisional</option>
                    <option value="Administrativo">Administrativo</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Universidad:</label><br>
                  <select class="form-control" type="brand" name="university">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Normalista:</label><br>
                  <select class="form-control" type="brand" name="normalista">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Especialista:</label><br>
                  <select class="form-control" type="brand" name="specialist">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Doctorado:</label><br>
                  <select class="form-control" type="brand" name="doctorate">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                  </select>
                </div>

                <div class="form-group" id="typeOfAppointment">
                  <label for="bio">Tipo de Nombramiento:</label><br>
                  <select class="form-control" type="brand" id="mod_typeOfAppointment_list" name="typeOfAppointment">
                    <option value="Provisional">Provisional</option>
                    <option value="Propiedad">Propiedad</option>
                    <option value="Administrativo">Administrativo</option>
                    <option value="Nacional">Nacional</option>
                    <option value="Departamental">Departamental</option>
                    <option value="Nacionalizado">Nacionalizado</option>
                    <option value="Municipal">Municipal</option>
                  </select>
                </div>
              </section>

              <section class="col-md-6 ">
                <div class="form-group">
                  <label for="bio">Estado:</label><br>
                  <select class="form-control" type="brand" name="state">
                    <option value="Activo">Activo</option>
                    <option value="ActivoPensionado">Activo Pensionado</option>
                    <option value="PensionadoRetirado">Pensionado Retirado</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Municipio al que pertenece la institucion:</label><br>
                  <select class="form-control" type="brand" id="mod_municipalityWorking_list" name="municipalityWorking">
                  <!--json-->
                  </select>
                </div>

                <div class="form-group" id="degree">
                  <label for="bio">Titulo:</label><br>
                  <input id="mod_degree" class="form-control" type="text" name="degree" required>
                </div>

                <div class="form-group">
                  <label for="bio">Profesional:</label><br>
                  <select class="form-control" type="brand" name="professional">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Magister:</label><br>
                  <select class="form-control" type="brand" name="MasterDegree">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                  </select>
                </div>

                <div class="form-group" id="promotionLadder">
                  <label for="bio">Grado de escalafon:</label><br>
                  <input id="mod_promotionLadder" class="form-control" type="text" name="promotionLadder" required>
                </div>

                <div class="form-group" id="Teaching">
                  <label for="bio">Decreto docente:</label><br>
                  <select class="form-control" type="brand" id="mod_Teaching_list" name="Teaching">
                    <option value="1278">1278</option>
                    <option value="2277">2277</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Nivel:</label><br>
                  <select class="form-control" type="brand" name="level">
                    <option value="Preescolar">Preescolar</option>
                    <option value="Primaria">Primaria</option>
                    <option value="Basica">Basica</option>
                    <option value="Media">Media</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Municipio (Sindicato):</label><br>
                  <select class="form-control" type="brand" id="mod_municipalitySindical_list" name="municipalitySindical">
                  <!--json-->
                  </select>
                </div>        

                <div class="form-group">
                  <label for="bio">Tipo de pago:</label><br>
                  <select class="form-control" type="brand" name="affiliationPaymentType">
                    <option value="Nomina">Nomina</option>
                    <option value="Ventanilla">Ventanilla</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Comisión a la cual está integrado/a:</label><br>
                  <select class="form-control" type="brand" name="integraCommission">
                    <option value="Electoral">Electoral</option>
                    <option value="Financiera">Financiera</option>
                    <option value="Etica">Ética</option>
                    <option value="Mujer">Mujer</option>
                    <option value="Pedagogica">Pedagógica</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Zona:</label><br>
                  <select class="form-control" type="brand" name="Zone">
                    <option value="Uno">Uno</option>
                    <option value="Dos">Dos</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Comité al cual está integrado/a:</label><br>
                  <select class="form-control" type="brand" name="integraCommittee">
                    <option value="Ninguno">Ninguno</option>
                    <option value="Municipal">Municipal</option>
                    <option value="Zonal">Zonal</option>
                    <option value="Directivo">Directivo</option>
                  </select>
                </div>

                <div class="form-group" id="delegateGeneralAssembly">
                  <label for="bio">Delegado a la Asamblea General:</label><br>
                  <select class="form-control" type="brand" id="mod_delegateGeneralAssembly_list" name="delegateGeneralAssembly">
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                    <option value="Municipio">Municipio</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="bio">Tipo de empleado:</label><br>
                  <select class="form-control" type="brand" name="employeeClass">
                    <option value="Docente">Docente</option>
                    <option value="Directivo Docente">Directivo Docente</option>
                    <option value="Administrativo">Administrativo</option>
                  </select>
                </div>
              </section>

              <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
              <!-- El botón cancelar se deja como input para que no haga efecto sobre el formulario -->
              <input type="button" class="list-objects btn btn-danger btn-block btn-flat" value="Cancelar"></input>
            </form>


            <!-- Formulario modificar -->
            <form id="form-modify" style="display: none;" class="form-joined" method="POST">        
                <div>
                  <label for=""><h2>Modificar afiliado</h2></label>
                </div>

                <section class="col-md-6 ">
                  <div class="form-group" id="identityCard">
                    <label for="bio">Documento de identidad:</label><br>
                    <input id="mod_identityCard" class="form-control" type="text" name="identityCard" required>
                  </div>

                  <div class="form-group" id="fullName">
                    <label for="bio">Nombre:</label><br>
                    <input id="mod_fullName" class="form-control" type="text" name="fullName" required>
                  </div>

                  <div class="form-group" id="birthdate">
                    <label for="bio">Fecha de nacimiento:</label><br>
                    <input id="mod_birthdate" class="form-control" type="date" name="birthdate">
                  </div>

                  <div class="form-group" id="address">
                    <label for="bio">Dirección casa:</label><br>
                    <input id="mod_address" class="form-control" type="text" name="address" required>
                  </div>

                  <div class="form-group" id="email">
                    <label for="bio">Email:</label><br>
                    <input id="mod_email" class="form-control" type="email" name="email" placeholder="usuario@ejemplo.com" required>
                    <p class="bg-warning" style="display: none;" id="msgEmail">Este correo ya se encuentra en uso por favor cambiarlo</p>
                  </div>

                  <div class="form-group" id="rh">
                    <label for="bio">RH:</label><br>
                    <select class="form-control" type="brand" id="mod_rh_list" name="rh">
                      <option value="AB+">AB+</option>
                      <option value="AB-">AB-</option>
                      <option value="A+">A+</option>
                      <option value="A-">A-</option>
                      <option value="B+">B+</option>
                      <option value="B-">B-</option>
                      <option value="O+">O+</option>
                      <option value="O-">O-</option>
                    </select>
                  </div>

                  <div class="form-group" id="gender">
                    <label for="bio">Género:</label><br>
                    <select class="form-control" type="brand" id="mod_gender_list" name="gender">
                      <option value="M">Masculino</option>
                      <option value="F">Femenino</option>
                      <option value="O">Otro</option>
                    </select>
                  </div>

                  <div class="form-group" id="municipality">
                    <label for="bio">Municipio:</label><br>
                    <select class="form-control" type="brand" id="mod_municipality_list" name="municipality">
                    <!--json-->
                    </select>
                  </div>

                  <div class="form-group" id="cellPhoneNumber">
                    <label for="bio">Número celular:</label><br>
                    <input id="mod_cellPhoneNumber" class="form-control" type="text" name="cellPhoneNumber" required>
                  </div>

                  <div class="form-group" id="educationalInstitution">
                    <label for="bio">Institución Educativa:</label><br>
                    <input id="mod_educationalInstitution" class="form-control" type="text" name="educationalInstitution" required>
                  </div>

                  <div class="form-group" id="areaPerformance">
                    <label for="bio">Área de desempeño:</label><br>
                    <select class="form-control" type="brand" id="mod_areaPerformance_list" name="areaPerformance">
                      <option value="Primaria">Primaria</option>
                      <option value="Bachillerato">Bachillerato</option>
                      <option value="DirectivoDocente">Directivo Docente</option>
                      <option value="Provisional">Provisional</option>
                      <option value="Administrativo">Administrativo</option>
                    </select>
                  </div>

                  <div class="form-group" id="university">
                    <label for="bio">Universidad:</label><br>
                    <select class="form-control" type="brand" id="mod_university_list" name="university">
                      <option value="Si">Si</option>
                      <option value="No">No</option>
                    </select>
                  </div>

                  <div class="form-group" id="normalista">
                    <label for="bio">Normalista:</label><br>
                    <select class="form-control" type="brand" id="mod_normalista_list" name="normalista">
                      <option value="Si">Si</option>
                      <option value="No">No</option>
                    </select>
                  </div>

                  <div class="form-group" id="specialist">
                    <label for="bio">Especialista:</label><br>
                    <select class="form-control" type="brand" id="mod_specialist_list" name="specialist">
                      <option value="Si">Si</option>
                      <option value="No">No</option>
                    </select>
                  </div>

                  <div class="form-group" id="doctorate">
                    <label for="bio">Doctorado:</label><br>
                    <select class="form-control" type="brand" id="mod_doctorate_list" name="doctorate">
                      <option value="Si">Si</option>
                      <option value="No">No</option>
                    </select>
                  </div>

                  <div class="form-group" id="typeOfAppointment">
                    <label for="bio">Tipo de Nombramiento:</label><br>
                    <select class="form-control" type="brand" id="mod_typeOfAppointment_list" name="typeOfAppointment">
                      <option value="Provisional">Provisional</option>
                      <option value="Propiedad">Propiedad</option>
                      <option value="Administrativo">Administrativo</option>
                      <option value="Nacional">Nacional</option>
                      <option value="Departamental">Departamental</option>
                      <option value="Nacionalizado">Nacionalizado</option>
                      <option value="Municipal">Municipal</option>
                    </select>
                  </div>
                </section>

                <section class="col-md-6 ">
                  <div class="form-group" id="state">
                    <label for="bio">Estado:</label><br>
                    <select class="form-control" type="brand" id="mod_state_list" name="state">
                      <option value="Activo">Activo</option>
                      <option value="ActivoPensionado">Activo Pensionado</option>
                      <option value="PensionadoRetirado">Pensionado Retirado</option>
                    </select>
                  </div>

                  <div class="form-group" id="municipalityWorking">
                    <label for="bio">Municipio al que pertenece la institucion:</label><br>
                    <select class="form-control" type="brand" id="mod_municipalityWorking_list" name="municipalityWorking">
                      <!--json-->
                    </select>
                  </div>

                  <div class="form-group" id="degree">
                    <label for="bio">Título:</label><br>
                    <input id="mod_degree" class="form-control" type="text" name="degree" required>
                  </div>

                  <div class="form-group" id="professional">
                    <label for="bio">Profesional:</label><br>
                    <select class="form-control" type="brand" id="mod_professional_list" name="professional">
                      <option value="Si">Si</option>
                      <option value="No">No</option>
                    </select>
                  </div>

                  <div class="form-group" id="MasterDegree">
                    <label for="bio">Magister:</label><br>
                    <select class="form-control" type="brand" id="mod_MasterDegree_list" name="MasterDegree">
                      <option value="Si">Si</option>
                      <option value="No">No</option>
                    </select>
                  </div>

                  <div class="form-group" id="promotionLadder">
                    <label for="bio">Grado de escalafon:</label><br>
                    <input id="mod_promotionLadder" class="form-control" type="text" name="promotionLadder" required>
                  </div>

                  <div class="form-group" id="Teaching">
                    <label for="bio">Decreto docente:</label><br>
                    <select class="form-control" type="brand" id="mod_Teaching_list" name="Teaching">
                      <option value="1278">1278</option>
                      <option value="2277">2277</option>
                    </select>
                  </div>

                  <div class="form-group" id="level">
                    <label for="bio">Nivel:</label><br>
                    <select class="form-control" type="brand" id="mod_level_list" name="level">
                      <option value="Preescolar">Preescolar</option>
                      <option value="Primaria">Primaria</option>
                      <option value="Basica">Basica</option>
                      <option value="Media">Media</option>
                    </select>
                  </div>

                  <div class="form-group" id="municipalitySindical">
                    <label for="bio">Municipio (Sindicato):</label><br>
                    <input id="mod_municipalitySindical" class="form-control" type="text" name="municipalitySindical" required>
                  </div>

                  <div class="form-group" id="affiliationPaymentType">
                    <label for="bio">Tipo de pago:</label><br>
                    <select class="form-control" type="brand" id="mod_affiliationPaymentType_list" name="affiliationPaymentType">
                      <option value="Nomina">Nomina</option>
                      <option value="Ventanilla">Ventanilla</option>
                    </select>
                  </div>

                  <div class="form-group" id="integraCommission">
                    <label for="bio">Comisión a la cual está integrado/a:</label><br>
                    <select class="form-control" type="brand" id="mod_integraCommission_list" name="integraCommission">
                      <option value="Electoral">Electoral</option>
                      <option value="Financiera">Financiera</option>
                      <option value="Etica">Ética</option>
                      <option value="Mujer">Mujer</option>
                      <option value="Pedagogica">Pedagógica</option>
                    </select>
                  </div>

                  <div class="form-group" id="Zone">
                    <label for="bio">Zona:</label><br>
                    <select class="form-control" type="brand" id="mod_Zone_list" name="Zone">
                      <option value="Uno">Uno</option>
                      <option value="Dos">Dos</option>
                    </select>
                  </div>

                  <div class="form-group" id="integraCommittee">
                    <label for="bio">Comité al cual está integrado/a:</label><br>
                    <select class="form-control" type="brand" id="mod_integraCommittee_list" name="integraCommittee">
                      <option value="Ninguno">Ninguno</option>
                      <option value="Municipal">Municipal</option>
                      <option value="Zonal">Zonal</option>
                      <option value="Directivo">Directivo</option>
                    </select>
                  </div>

                  <div class="form-group" id="delegateGeneralAssembly">
                    <label for="bio">Delegado a la Asamblea General:</label><br>
                    <select class="form-control" type="brand" id="mod_delegateGeneralAssembly_list" name="delegateGeneralAssembly">
                      <option value="Si">Si</option>
                      <option value="No">No</option>
                      <option value="Municipio">Municipio</option>
                    </select>
                  </div>

                  <div class="form-group" id="employeeClass">
                    <label for="bio">Tipo de empleado:</label><br>
                    <select class="form-control" type="brand" id="mod_employeeClass_list" name="employeeClass">
                      <option value="Docente">Docente</option>
                      <option value="Directivo Docente">Directivo Docente</option>
                      <option value="Administrativo">Administrativo</option>
                    </select>
                  </div>
                </section>

                <input id="button_update" type="submit" class="modify-object btn btn-primary btn-block btn-flat" value="Actualizar"></input>
                <!-- El botón cancelar se deja como input para que no haga efecto sobre el formulario -->
                <input type="button" class="list-objects btn btn-danger btn-block btn-flat" value="Cancelar"></input>
            </form>
          </div>
        </section>
      </div>

      <% include ./partials/footer.ejs %>

    </div>
    <!-- ./wrapper -->

    <% include ./partials/footer-scripts.ejs %>

    <!-- Javascript fresh bootstrap table -->
    <script type="text/javascript" src="js/bootstrap-table.js"></script>
    <script type="text/javascript">
      var $table = $('#fresh-table'),
      $alertBtn = $('#alertBtn'),
      full_screen = false;
      $().ready(function(){
        $table.bootstrapTable({
          toolbar: ".toolbar",
          showRefresh: false,
          search: true,
          showToggle: true,
          showColumns: true,
          pagination: true,
          striped: true,
          sortable: true,
          pageSize: 8,
          pageList: [8,10,25,50],
          formatShowingRows: function(pageFrom, pageTo, totalRows){
            //do nothing here, we don't want to show the text "showing x of y from..."
          },
          formatRecordsPerPage: function(pageNumber){
            return pageNumber + " filas visibles";
          },
          icons: {
            refresh: 'fa fa-refresh',
            toggle: 'fa fa-th-list',
            columns: 'fa fa-columns',
            detailOpen: 'fa fa-plus-circle',
            detailClose: 'fa fa-minus-circle'
          }
        });
      });
      $(function () {
        $alertBtn.click(function () {
          alert("Alerta");
        });
      });
      function operateFormatter(value, row, index) {
        return [
          '<a id="'+row._class+'" rel="tooltip" title="Editar" class="table-action edit" href="javascript:void(0)" title="Edit">',
            ' <i class="fa fa-edit"> Editar</i> ',
          '</a>'/*,
          '<a id="'+row._class+'" rel="tooltip" title="Eliminar" class="table-action remove" href="javascript:void(0)" title="Remove" style="color:red; padding-left:1em;">',
            ' <i class="fa fa-remove"> Eliminar</i> ',
          '</a>'*/
        ].join('');
      }
      window.operateEvents = {
        'click .edit': function (e, value, row, index) {
          tableButtonEvent.edit(row._class);
          //console.log(value, row, index);
        },
        'click .remove': function (e, value, row, index) {
          tableButtonEvent.remove(row._class);
          //console.log(value, JSON.stringify(row, null, '\t'), index);
        }
      };
    </script>
    
    <!-- Script main-->
    <script src="js/mainJoineds.js" type="text/javascript" charset="utf-8" ></script>

  </body>
</html>
