<!DOCTYPE html>
<html>
  <head>
    <title>Eventos Deportivos| Sindimaestros</title>

    <% include ./partials/head.ejs %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <% include ./partials/nav-header.ejs %>

      <% include ./partials/left-column.ejs %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Gestionar Eventos Deportivos
          </h1>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-5">
              <div class="contains">
                <span class="btn bg-green" id="add-eventsSports"> <i class="fa fa-plus-circle fa-5x pull-left" href="#"></i> Agregar evento deportivo </span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-5">
              <div class="contains">
                <span class="list-eventsSports btn btn-primary"><i class="fa fa-reorder fa-5x pull-left"></i> Listar eventos deportivos </span>
              </div>
            </div>
          </div>

          <!-- Alertas -->
          <% if (message.length > 0) { %>
            <div class="alert alert-danger" style="margin-top: 10px;"><%= message %></div>
          <% } %>

          <div class="box-body">

            <!-- Tabla de eventos deportivos-->
            <div class="table-eventsSports fresh-table">
              <div class="toolbar">
                <!--button id="alertBtn" class="btn btn-default">Botón de Alerta</button-->
              </div>

              <table id="fresh-table" class="table">
                <thead>

                  <th data-field="nameEvent">Nombre </th>
                  <th data-field="sport">Deporte </th>
                  <th data-field="category">Categoria</th>
                  <th data-field="typeOfParticipation">Tipo de participación </th>
                  <th data-field="gender">Genero </th>
                  <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Acciones </th>
                </thead>
                <tbody>
                  <% if (objectSportEvent != undefined) { %>
                  <% objectSportEvent.forEach(function(objSportEv) { %>
                  <tr class="<%= objSportEv._id %>" style="text-align:center;">
                    <td><%= objSportEv.nameEvent %></td>
                    <td><%= objSportEv.sport %></td>
                    <td><%= objSportEv.category %> </td>
                    <td><%= objSportEv.typeOfParticipation %></td>
                    <td><%= objSportEv.gender %></td>
                  </tr>
                  <% }); %>
                  <% } else { %>
                  <td colspan="" rowspan="" headers="">Para crear un evento deportivo, dé click en el boton <span class="fa fa-plus-circle"></span></td>
                  <% } %>
                </tbody>
              </table>
            </div>

            <!-- Formulario agregar evento -->
            <form class="form-eventSport" id="formEventSport" action="new-sportEvent" method="POST" >
              <div id="form-add-eventSport" class="col-md-12" style="display: none;">
                <div>
                  <label for=""><h2>Ingrese el nuevo evento deportivo</h2></label>
                </div>
                <section class="col-md-6 ">
                  <div class="form-group" id="nameEvent">
                    <label for="bio">Nombre evento:</label><br>
                    <input class="form-control" type="text" name="nameEvent" required>
                  </div>
                   <div class="form-group">
                    <label for="bio">Deporte:</label><br>
                    <select class="form-control" type="brand" id="sport" name="sport">
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="bio">Genero</label><br>
                    <select class="form-control" type="brand" id="gender" name="gender">
                      <option value="M">Masculino</option>
                      <option value="F">Femenino</option>
                      <option value="O">Mixto</option>
                    </select>
                  </div>
                  <div class="form-group"> 
                   <label for="bio">Tipo de evento</label><br>
                      <select class="form-control" type="brand" id="typeOfEvent" name="typeOfEvent">
                        <option value="Municipal">Municipal</option>
                        <option value="Zonal">Zonal</option>
                        <option value="Interzonal">Interzonal</option>
                        <option value="final">final</option>
                      </select>
                    </div>                   
                  <div class="form-group" id="startDate">
                    <label for="bio">Fecha de inicio del evento:</label><br>
                    <input class="form-control" type="date"  name="startDate">
                  </div>                
                  <div class="form-group">
                    <label for="bio">Equipos participantes:</label><br>
                    <select multiple class="form-control" type="brand" required="true" name="teams">
                      <% if (objectTeam) { %>
                        <% objectTeam.forEach(function(objTea) { %>
                          <option value="<%= objTea._id %>"><%= objTea.name %> </option>
                        <% }); %>
                      <% } %>                  
                    </select>
                  </div>                    
                </section>
                <section class="col-md-6">
                    <div class="form-group">
                      <label for="bio">Tipo de participacion</label><br>
                      <select class="form-control" type="brand" id="typeOfParticipation" name="typeOfParticipation">
                        <option value="Conjunto">Conjunto</option>
                        <option value="Equipo">Equipo</option>
                        <option value="Individual">Individual</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="bio">Categoria</label><br>
                      <select class="form-control" type="brand" id="category" name="category">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                      </select>
                    </div>                 
                    <div class="form-group" id="numberOfTeams">
                      <label for="bio">numero de equipos:</label><br>
                      <input class="form-control" type="text" name="numberOfTeams">
                    </div>
                    <div class="form-group" id="endDate">
                      <label for="bio">Fecha de finalización del evento:</label><br>
                      <input class="form-control" type="date" name="endDate">
                    </div>
                    <div class="form-group" id="winer">
                      <label for="bio">Ganador:</label><br>
                      <input class="form-control" type="text" name="winer" required>
                    </div>
                 </section>

                <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
                <!-- El botón cancelar se deja como input para que no haga efecto sobre el formulario -->
                <input type="button" class="list-eventsSports btn btn-danger btn-block btn-flat" value="Cancelar"></input>
              </div>
            </form>

            <!-- Formulario modificar evento -->
            <form id="frm-modify-eventSport" class="form-eventSport" method="POST">
              <div id="form-modify-eventSport" class="col-md-12" style="display: none;" >
                <div>
                  <label for=""><h2>Modificar evento deportivo</h2></label>
                </div>
                <section class="col-md-6 ">
                  <div class="form-group" id="nameEvent">
                    <label for="bio">Nombre evento:</label><br>
                    <input class="form-control" type="text" name="nameEvent" id="mod_nameEvent"required>
                  </div>
                  <div class="form-group">
                    <label for="bio">Categoria</label><br>
                    <select class="form-control" type="brand" id="mod_category" name="category">
                      <option value="A">A</option>
                      <option value="B">B</option>
                      <option value="C">C</option>
                      <option value="D">D</option>
                    </select>
                  </div>
                  <div class="form-group" id="startDate">
                    <label for="bio">Fecha de inicio del evento:</label><br>
                    <input class="form-control" type="date"  name="startDate" id="mod_startDate">
                  </div>
                  <div class="form-group" id="endDate">
                    <label for="bio">Fecha de finalización del evento:</label><br>
                    <input class="form-control" type="date" name="endDate" id="mod_endDate">
                  </div>
                </section>

                <section class="col-md-6">
                  <div class="form-group" id="sport">
                    <label for="bio">Deporte:</label><br>
                    <input class="form-control" type="text" name="sport" id="mod_sport" required>
                  </div>
                  <div class="form-group" id="numberOfTeams">
                    <label for="bio">numero de equipos:</label><br>
                    <input class="form-control" type="text" name="numberOfTeams" id="mod_numberOfTeams">
                  </div>
                  <div class="form-group">
                    <label for="bio">Tipo de participacion</label><br>
                    <select class="form-control" type="brand" id="mod_typeOfParticipation" name="typeOfParticipation">
                      <option value="Conjunto">Conjunto</option>
                      <option value="Equipo">Equipo</option>
                      <option value="Individual">Individual</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="bio">Genero</label><br>
                    <select class="form-control" type="brand" id="mod_gender" name="gender">
                      <option value="M">Masculino</option>
                      <option value="F">Femenino</option>
                      <option value="O">Mixto</option>
                    </select>
                  </div>
                 </section>
                <input id="button_update" type="submit" class="modify-eventSport btn btn-primary btn-block btn-flat" value="Actualizar evento"></input>
                <!-- El botón cancelar se deja como input para que no haga efecto sobre el formulario -->
                <input type="button" class="list-eventsSports btn btn-danger btn-block btn-flat" value="Cancelar"></input>
              </div>
            </form>
          </div>
        </section>

       </div>

      <% include ./partials/footer.ejs %>

    </div>

    <!-- ./wrapper -->

    <% include ./partials/footer-scripts.ejs %>
<script type="text/javascript" src="js/bootstrap-table.js"></script>
  <script type="text/javascript">
    var $table = $('#fresh-table'),
    $alertBtn = $('#alertBtn'),
    full_screen = false;
    $().ready(function(){
      $table.bootstrapTable({
        toolbar: ".toolbar",
        showRefresh: false,
        search: true,
        showToggle: true,
        showColumns: true,
        pagination: true,
        striped: true,
        sortable: true,
        pageSize: 8,
        pageList: [8,10,25,50],
        formatShowingRows: function(pageFrom, pageTo, totalRows){
          //do nothing here, we don't want to show the text "showing x of y from..."
        },
        formatRecordsPerPage: function(pageNumber){
          return pageNumber + " filas visibles";
        },
        icons: {
          refresh: 'fa fa-refresh',
          toggle: 'fa fa-th-list',
          columns: 'fa fa-columns',
          detailOpen: 'fa fa-plus-circle',
          detailClose: 'fa fa-minus-circle'
        }
      });
    });
    $(function () {
      $alertBtn.click(function () {
        alert("Alerta");
      });
    });
    function operateFormatter(value, row, index) {
      return [
        '<a id="'+row._class+'" rel="tooltip" title="Editar" class="table-action edit" href="javascript:void(0)" title="Edit">',
          ' <i class="fa fa-edit"> Editar</i> ',
        '</a>',
      ].join('');
    }
    window.operateEvents = {
      'click .edit': function (e, value, row, index) {
        tableButtonEvent.edit(row._class);
        //console.log(value, row, index);
      },
      'click .remove': function (e, value, row, index) {
        //tableButtonEvent.remove(row._class);
        //console.log(value, JSON.stringify(row, null, '\t'), index);
      }
    };
  </script>
    <!-- Script main-->
  <script src="js/mainSportEvents.js" type="text/javascript" charset="utf-8" ></script>
  </body>
</html>