<!DOCTYPE html>
<html>
  <head>
    <title>Usuarios | Sindimaestros</title>

    <% include ./partials/head.ejs %>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

      <% include ./partials/nav-header.ejs %>

      <% include ./partials/left-column.ejs %>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Gestionar Usuarios
          </h1>
        </section>

        <section class="content">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-5">
              <div class="contains">
                <span class="btn bg-green" id="add-user"> <i class="fa fa-plus-circle fa-5x pull-left" href="#"></i> Agregar usuario </span>
              </div>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-5">
              <div class="contains">
                <span class="list-users btn btn-primary"><i class="fa fa-reorder fa-5x pull-left"></i> Listar usuarios </span>
              </div>
            </div>
          </div>

          <!-- Alertas -->
          <% if (message.length > 0) { %>
            <div class="alert alert-danger" style="margin-top: 10px;"><%= message %></div>
          <% } %>

          <div class="box-body">

            <!-- Tabla de usuarios -->
            <div class="table-users fresh-table">
              <div class="toolbar">
                <!--button id="alertBtn" class="btn btn-default">Botón de Alerta</button-->
              </div>

              <table id="fresh-table" class="table">
                <thead>
                  <th data-field="fullname">Nombre </th>
                  <th data-field="email">Email </th>
                  <th data-field="role">Rol </th>
                  <th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Acciones </th>
                </thead>
                <tbody>
                  <% if (objUser != undefined) { %>
                  <% objUser.forEach(function(objUsr) { %>
                  <tr class="<%= objUsr._id %>" style="text-align:center;">
                    <td><%= objUsr.fullname %></td>
                    <td><%= objUsr.email %> </td>
                    <td><%= objUsr.role %></td>
                  </tr>
                  <% }); %>
                  <% } else { %>
                  <td colspan="" rowspan="" headers="">Para crear un usuario, dé click en el boton <span class="fa fa-plus-circle"></span></td>
                  <% } %>
                </tbody>
              </table>
            </div>

            <!-- Formulario agregar usuario -->
            <form class="form-user" id="formUser" action="new-user" method="POST" >
              <div id="form-add-user" class="col-md-12" style="display: none;">
                <div>
                  <label for=""><h2>Ingrese el nuevo usuario</h2></label>
                </div>
                <section class="col-md-6 ">
                  <div class="form-group">
                    <div class="form-group" id="fullname">
                      <label for="bio">Nombre:</label><br>
                      <input class="form-control" type="text" name="fullname" required>
                    </div>
                    <div class="form-group" id="email">
                      <label for="bio">Email:</label><br>
                      <input id="email" class="form-control" type="email" name="email" placeholder="usuario@ejemplo.com" required>
                      <p class="bg-warning" style="display: none;" id="msgEmail">Este correo ya se encuentra en uso por favor cambiarlo</p>
                    </div>
                    <label for="bio">Rol:</label><br>
                      <select class="form-control" type="brand" name="role">
                        <option value="Administrador">Administrador</option>
                        <option value="Presidente">Presidente</option>
                        <option value="Fiscal">Fiscal</option>
                        <option value="Tesorero">Tesorero</option>
                      </select>
                  </div>
                </section>
                <section class="col-md-6">
                  <div>
                    <label for="bio">Afiliado</label><br>
                    <select class="form-control" type="brand" id="joined" name="joined">
                      <option value="Si">Sí</option>
                      <option value="No">No</option>
                    </select>
                  </div>                                     
                  <div class="form-group" id="password">
                    <label for="bio">Contraseña:</label><br>
                    <input class="form-control" type="password" name="password" required>
                    <div id="pswd_info" style="display: none;">
                      <h4>La contraseña debería cumplir con los siguientes requerimientos:</h4>
                      <p id="length">Debería tener <strong>8 carácteres</strong> como mínimo</p>
                      <p id="letter">Al menos debería tener <strong>una letra minúscula</strong></p>
                      <p id="capital">Al menos debería tener <strong>una letra mayúscula</strong></p>
                      <p id="number">Al menos debería tener <strong>un número</strong></p>
                      <p id="symbol">Al menos debería tener <strong>un símbolo</strong></p>
                    </div>
                  </div>
                </section>

                <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
                <!-- El botón cancelar se deja como input para que no haga efecto sobre el formulario -->
                <input type="button" class="list-users btn btn-danger btn-block btn-flat" value="Cancelar"></input>
              </div>
            </form>

            <!-- Formulario modificar usuario -->
            <form id="frm-modify-user" class="form-user" method="POST">
              <div id="form-modify-user" class="col-md-12" style="display: none;" >
                <div>
                  <label for=""><h2>Modificar usuario</h2></label>
                </div>
                <section class="col-md-6 ">
                  <div class="form-group">
                    <label for="bio">Afiliado</label><br>
                    <select class="form-control" type="brand" id="mod_joined" name="joined">
                      <option value="Si">Sí</option>
                      <option value="No">No</option>
                    </select>
                  </div>
                  
                  <div class="form-group" id="fullname">
                    <label for="bio">Nombre:</label><br>
                    <input class="form-control" type="text" name="fullname" id="mod_fullname" required>
                  </div>
                </section>
                
                <section class="col-md-6">
                  <div class="form-group" id="email">
                    <label for="bio">Email:</label><br>
                    <input id="mod_email" class="form-control" type="email" name="email" placeholder="usuario@ejemplo.com" required>
                    <p class="bg-warning" style="display: none;" id="msgEmail">Este correo ya se encuentra en uso por favor cambiarlo</p>
                  </div>
                  
                  <!--div class="form-group" id="password">
                    <label for="bio">Contraseña:</label><br>
                    <input id="mod_password" class="form-control" type="password" name="password" required>
                    <div id="pswd_info" style="display: none;">
                      <h4>La contraseña debería cumplir con los siguientes requerimientos:</h4>
                      <p id="length">Debería tener <strong>8 carácteres</strong> como mínimo</p>
                      <p id="letter">Al menos debería tener <strong>una letra minúscula</strong></p>
                      <p id="capital">Al menos debería tener <strong>una letra mayúscula</strong></p>
                      <p id="number">Al menos debería tener <strong>un número</strong></p>
                      <p id="symbol">Al menos debería tener <strong>un símbolo</strong></p>
                    </div>
                  </div-->

                  <div class="form-group">
                    <label for="bio">Rol:</label><br>
                    <select class="form-control" type="brand" name="role" id="mod_role">
                      <option value="Administrador">Administrador</option>
                      <option value="Presidente">Presidente</option>
                      <option value="Fiscal">Fiscal</option>
                      <option value="Tesorero">Tesorero</option>
                    </select>
                  </div>
                </section>
                <input id="button_update" type="submit" class="modify-user btn btn-primary btn-block btn-flat" value="Actualizar usuario"></input>
                <!-- El botón cancelar se deja como input para que no haga efecto sobre el formulario -->
                <input type="button" class="list-users btn btn-danger btn-block btn-flat" value="Cancelar"></input>
              </div>
            </form>
          </div>
        </section>
      </div>
      <% include ./partials/footer.ejs %>
    </div>
    <!-- ./wrapper -->
    <% include ./partials/footer-scripts.ejs %>
<script type="text/javascript" src="js/bootstrap-table.js"></script>
  <script type="text/javascript">
    var $table = $('#fresh-table'),
    $alertBtn = $('#alertBtn'),
    full_screen = false;
    $().ready(function(){
      $table.bootstrapTable({
        toolbar: ".toolbar",
        showRefresh: false,
        search: true,
        showToggle: true,
        showColumns: true,
        pagination: true,
        striped: true,
        sortable: true,
        pageSize: 8,
        pageList: [8,10,25,50],
        formatShowingRows: function(pageFrom, pageTo, totalRows){
          //do nothing here, we don't want to show the text "showing x of y from..."
        },
        formatRecordsPerPage: function(pageNumber){
          return pageNumber + " filas visibles";
        },
        icons: {
          refresh: 'fa fa-refresh',
          toggle: 'fa fa-th-list',
          columns: 'fa fa-columns',
          detailOpen: 'fa fa-plus-circle',
          detailClose: 'fa fa-minus-circle'
        }
      });
    });
    $(function () {
      $alertBtn.click(function () {
        alert("Alerta");
      });
    });
    function operateFormatter(value, row, index) {
      return [
        '<a id="'+row._class+'" rel="tooltip" title="Editar" class="table-action edit" href="javascript:void(0)" title="Edit">',
          ' <i class="fa fa-edit"> Editar</i> ',
        '</a>',
      ].join('');
    }
    window.operateEvents = {
      'click .edit': function (e, value, row, index) {
        tableButtonEvent.edit(row._class);
        //console.log(value, row, index);
      },
      'click .remove': function (e, value, row, index) {
        //tableButtonEvent.remove(row._class);
        //console.log(value, JSON.stringify(row, null, '\t'), index);
      }
    };
  </script>
    <!-- Script main-->
  <script src="js/mainUsers.js" type="text/javascript" charset="utf-8" ></script>
  </body>
</html>
